node_modules
out
.DS_Store
.idea
.env
.env.*
coverage
dist
.cache
.next
storybook-static
public/storybook
.artifacts
.vercel
repo-metadata.json
networks-metadata.json
graphql.schema.json
src/@types/graph.types.ts
# src/@types/subgraph
# src/@types/apollo/
tsconfig.tsbuildinfo
