:root {
  --brand-purple: #5780c3;
  --brand-violet: #1c47e5;
  --brand-magenta: #831453;
  --brand-steel-blue: #3d7a98;

  --brand-black: #000000;

  --brand-grey-darker: #201f1f;
  --brand-grey-dark: #303030;
  --brand-grey: #41474e;
  --brand-grey-light: #8b98a9;
  --brand-grey-lighter: #ebebeb;
  --brand-grey-dimmed: #f7f7f7;

  --opsci-brand-coral: #fec6c6;
  --opsci-brand-cerulean: #5780c3;
  --opsci-brand-lilac: #ab91c4;
  --opsci-brand-cobalt: #6d9ccb;

  --color-primary: #ab91c4;

  --brand-gradient: linear-gradient(
    to right,
    #5780c3 0%,
    #6d9ccb 22%,
    #ab91c4 72%,
    #6d9ccb 100%
  );
}
